<%- include('../includes/header.ejs') %>
    <div class="dashbord">
        <h1 class="title">Dashboard</h1>
        <nav class="navbar">
            <p class="title__nav">add</p>
            <ul>
                <li>
                    <a href="/admin/add-product">add product</a>
                </li>
                <li>
                    <a href="/admin/add-post">add post</a>
                </li>
            </ul>
        </nav>
        <div class="list">
            <div class="products">
                <h3>Products</h3>
                <% if (products.length > 0) { %>
                    <ul>
                    <% for (product of products) { %>
                        <li>
                           name: <b><%= product.title %></b>|
                           price: <b><%= product.price %></b><span class="action edit">edit</span><span class="action remove">remove</span></li>
                    <% } %>
                </ul>
                <% } else { %>
                    <p>not found product</p>
                <% } %>
            </div>
            <div class="posts">
                <h3>Blogs</h3>
                <% if (posts.length > 0) { %>
                    <ul>
                    <% for (post of posts) { %>
                        <li>post name: <b><%= post.title %></b><span class="action edit">edit</span><span class="action remove">remove</span></li>
                    <% } %>
                    </ul>
                <% } else { %>
                    <p>not found post</p>
                <% } %>
            </div>
        </div>
    </section>
<%- include('../includes/footer.ejs') %>