<%- include('../include/header.ejs') %>
<div class="flex flex-row"> 
    <%- include('../include/sidebar.ejs') %>
    <section class="flex-1 pl-4 pt-4 container pr-4">
        <%- include('../../includes/breadcrumb.ejs', {breads: ['dashboard','posts']}) %>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="p-4">
                            <div class="flex items-center">
                                <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-all-search" class="sr-only">checkbox</label>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Title
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Slug
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Content
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                    <% if (posts.length > 0) { %>
                <tbody>
                    
                        <% for (post of posts) { %>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="w-4 p-4">
                            <div class="flex items-center">
                                <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                            </div>
                        </td>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <%= post.title %>
                        </th>
                        <td class="px-6 py-4">
                            <%= post.slug %>
                        </td>
                        <td class="px-6 py-4">
                            <%= post.content %>
                        </td>
                        <td class="flex items-center px-6 py-4 space-x-3">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            <form action="/admin/delete-product" method="POST">
                                <button class="font-medium text-red-600 dark:text-red-500 hover:underline">Remove</button>
                                <input type="hidden" value="<%= post._id %>" name="postId"/>
                            </form>
                        </td>
                    </tr>
                        <% } %>
                </tbody>
                <% } else { %>
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <span class="font-medium">Not Found any Product
                      </div>
                <% } %>
            </table>
        </div>
    </section>
</div>
<%- include('../include/footer.ejs') %>