<%- include('../../includes/header.ejs') %>
<%- include('../../includes/breadcrumb.ejs', {breads: ['Blog', post.title]}) %>

<section>
    <h3 class="text-5xl"><%= post.title %></h3>
    <hr>
    <p>
        <%= post.content %>
    </p>
</section>


<%- include('../../includes/footer.ejs') %>