<%- include('../include/header.ejs') %>
<div class="flex flex-row"> 
    <%- include('../include/sidebar.ejs') %>
    <section class="flex-1 pl-4 pt-4 container pr-4">
        <%- include('../../includes/breadcrumb.ejs', {breads: ['dashboard','contact us', 'View Contact']}) %>
        Name: <%= contact.name %></br>
        Phone: <%= contact.phone %></br>
        Email: <%= contact.email %></br>
        Subject: <%= contact.subject %></br>
        Message:<%= contact.message %>
    </section>
</div>
<%- include('../include/footer.ejs') %>